<div
  class="section home"
  data-slideshow-images={{ site.slideshow_images | join: "," }}
  style="background: url('/assets/images/home-slideshow/{{ site.slideshow_images | first }}') no-repeat center scroll"
>
  <div class="wrapper">
    <div class="home-content">
      <div class="logo">
        <img src="/assets/images/logo.jpg" />
      </div>
      <h1 class="sr-only">{{ site.title }}</h1>
      <div class="home-text">
        <a class="button order-online-button" href="{{ site.square_shop_url }}">Order Online</a>
        <p>{{ site.online_order_notice }}</p>
        <h2>{{ site.subtitle }}</h2>
      </div>
    </div>
  </div>
</div>
