.home {
  background: url('/assets/images/home.jpg') no-repeat bottom center scroll;
  color: #fff;
  height: 95vh;
  padding: 0;
  text-shadow: 2px 2px #000;

  .wrapper,
  .home-content {
    height: 100%;
  }

  .home-content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

  h2 {
    flex-basis: 100%;
  }

  .logo {
    flex-basis: 100%;

    img {
      width: 50vw;
    }
  }

  @media screen and (min-width: 600px) {
    .home-content {
      flex-wrap: nowrap;
    }

    h2,
    .logo {
      flex-basis: 50%;
    }

    img {
      width: 25vw;
    }
  }
}
